@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

//colors
$primary: rgb(244, 131, 114);
$dark: #141313;
$white: #f9f9f9;

$footerHeight: 190px;
$siteMargin: 3rem;
$siteMarginMobile: 1rem;

$spacingDesktop: 40%;
$spacingMobile: 20%;
